﻿/* Place custom styles below */
body {
}

form {
}

header {
    height: 66px;
    margin: 0px 0px 10px 0px;
    padding: 0;
}

#suiteBarDelta{
    display:none;
}

#toHome {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}

.fixedTop{
    position:fixed;
    width:100%;
    top:64px;
    left:0;
    animation-duration:1s;
}

.fixedTop #innerDiv{
     padding:0 37px 0 20px;
}

#TopDiv {
    
}

#validatieDialog{
    color: red;
}

.HomeLink {
    position: absolute;
    top: 34px;
    left: 0;
    padding-left: 20px;
}

#toHome a:link, a:visited {
    color: grey;
    text-decoration: none;
    padding: 4px 15px;
}

#toHome a:hover {
    color: grey;
    background-color: white;
    border: 1px solid darkgray;
    border-bottom: 2px solid white;
}

.bluebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0171C5;
    opacity: 1;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 34px;
    opacity: 1 !important;
}

.linkbar {
    position: absolute;
    top: 34px;
    left: 0;
    width: 100%;
    height: 34px;
    background-color: black;
    opacity: 0.1;
}

#officeLogo {
    height: 28px;
    width: 110px;
}

.userbar {
    position: absolute;
    /*float: right;*/
    top: 0;
    right: 0;
    z-index: 2;
    width: 250px;
    padding: 8px;
    background-color: #92C0E0;
}

#UserLabel {
    font-size: 1em;
    color: white;
}

.main {
    clear: both;
    margin: 15px 30px 80px 30px;
    font-size: 0.8em;
    padding-bottom: 100px;
}

h3 {
    /*display: inline;*/
    padding: 8px 8px 8px 30px;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #0171C5;
    border: 1px solid gray;
    background-color: #e5e4e4;
}

.loading {
    width: 50px;
    margin-left: 48%;
    left: 48%;
}

.UpdateDiv {
    width: 50px;
    margin-left: 48%;
    left: 48%;
}

.ticketTDLink {
    padding-left: 100px;
}

.ticketMeLink {
    padding-left: 20px;
}

.NewImage {
    margin-left: 100px;
}

.NewImage :hover{
    border-color:#0171C5;
}

.NewImage img{
    width: 25px;
    border:1px solid #e5e4e4;
}

.standaardImageButton{
    margin-left: 5px;
}

.standaardImageButton :hover{
    border:1px solid #0171C5;
}

.standaardImageButton img{
    width: 25px;
    border:1px solid #e5e4e4;
}

.standaardImageButton2 {
    margin:0;
}

.standaardImageButton2 :hover{
    border:1px solid #0171C5;
}

.standaardImageButton2 img{
    width: 25px;
    border:1px solid #e5e4e4;
}


.stap {
    border: 1px solid gray;
    border-top: 0 solid white;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    display: block;
    overflow-y: auto;
    font-size: 1em;
    background-color: #eeeeee;
}

    .stap p {
        margin: 0;
        padding: 5px;
    }

    .stap input[type="text"], select {
        border: 1px solid #CCC;
        font-weight: 200;
        font-size: 1em;
        font-family: Verdana;
        box-shadow: 1px 1px 5px #CCC;
    }

.KlantDiv {
    height: 270px;
    overflow-y: auto;
}

.registratieDiv {
    clear: both;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 10px;
}

#ticketRadioGroup {
    color: black;
    font-size: 0.7em;
    font-weight: 300;
    margin-left: 3em;
}

.pijlen {
    width: 20px;
    height: 20px;
    border: none;
}

.infodiv {
    border: 1px solid #0171C5;
    padding: 3px;
    margin: 10px;
    color: darkgray;
}

.InfoDiv {
    height: 340px;
    margin: 20px 0;
}

#totaalDuur {
}

table tbody tr td {
    margin: 3px 0;
    padding: 3px 3px;
}

    table tbody tr td a {
        text-decoration: none;
    }

th {
    color: #999;
    font-size: 0.9em;
}

.tablesorter th {
    font-weight: 500;
    padding: 0.4em 1em;
    white-space: nowrap;
    cursor: pointer;
}

    .tablesorter th:hover {
        border-bottom: 1px solid #0171C5;
        background-color: #c2dff5;
        opacity: 0.4;
    }

.invoerTabel {
    border-collapse: collapse;
}

.verticaltableline {
    border-right: 1px solid darkgray;
    text-align: right;
}

.HelpText {
    padding: 5px;
    margin: 10px 25px;
    color: #ff9900;
}

.leftlabel {
    width: 0;
    float: left;
}

    .leftlabel img {
        position: relative;
        top: 0;
        right: 30px;
        border: none;
    }

.tijdsregistratiesRij:nth-child(even){
    background-color: rgba(194,223,245,0.6);
}

.tijdsregistratiesRij td{
    padding:6px; 
    margin: 3px;
}

.filter {
    margin: 5px;
    padding: 2px;
}

    .filter input[type=checkbox] {
        margin: 5px 10px 5px 20px;
    }

.ui-datepicker {
    font-size: 0.7em !important;
}

@media only screen and (max-width : 1234px) {
    .blok1 {
        padding: 10px;
        width: 98%;
        float: left;
    }

    .blok2 {
        padding: 10px;
        width: 98%;
        float: left;
        border-top: 3px double black;
    }
}

@media only screen and (min-width : 1235px) {
    .blok1 {
        padding: 10px;
        width: 400px;
        float: left;
        border-right: 1px solid black;
    }

    .blok2 {
        padding: 10px;
        width: 700px;
        float: left;
    }
}

.leftcol {
    width: 99%;
}

.toplijn {
    padding: 6px;
    border-top: 1px solid black;
}

.onpage {
    position: fixed;
    top: 81px;
    right: 5px;
    width: 330px;
    background-color: #ebedf5;
    transition: 0.5s;
}
/*}*/

#filterImageButton {
    margin: 0px 15px;
}

.filterDiv {
    margin: 5px;
    padding: 10px;
    border: 1px solid #0171C5;
}

.filterCheckBox {
    margin: 10px 5px;
}

.blok {
    padding: 10px;
}

#klantenSelect {
    width: 350px;
    height: 23px;
}

.icoon {
    width: 25px;
    height: 25px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
}

/*.InfoDiv {
    font-size: 0.8em;
    margin-bottom: 10px;
}*/

.labels {
    color: #0171C5;
    white-space:nowrap;
}

.opmerkingen{
    width: 95%;
}

.opmerkingen div{
    align-content:flex-start;
}

#klantDetailsDiv {
    float: left;
    width: 41%;
    height: 300px;
    border: none;
}

#contactenDiv {
    float: right;
    width: 58%;
    height: 300px;
    margin-left: 5px
    /*overflow: auto;*/
}

.PopUp {
    position: fixed;
    width: 50%;
    height: 90%;
    top: 5%;
    left: 25%;
    /*overflow-y:auto;*/
    margin: 0 auto;
    padding: 5px;
    z-index: 20;
    background-color: #e5e4e4;
    border: 5px solid #0171C5;
}

.Groeppopup {
    position: fixed;
    width: 50%;
    height: 30%;
    top: 10%;
    left: 25%;
    margin: 0 auto;
    padding: 5px;
    z-index: 20;
    background-color: #e5e4e4;
    border: 5px solid #0171C5;
}

.listbox {
    width: 400px;
    height: 80px;
}

.nieuwtextarea {
    width: 400px;
    height: 70px;
}

.nieuwTextBox {
    width: 400px;
    height: 23px;
}

select {
    height: 23px;
}

h4 {
    font-size: 1.3em;
    color: #0171C5;
    padding: 4px;
    border-bottom: 1px solid #0171C5;
}

div.ui-datepicker {
    font-size: 1.2em;
}

.closeButton {
    float: right;
    position: relative;
    top: -27px;
    right: -27px;
    width: 30px;
}

    .closeButton :hover {
        width: 22px;
        cursor: pointer;
    }

.blokRight {
    padding: 10px;
    width: 45%;
    float: right;
}

.clearLeft {
    clear: both;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.1em;
    background-color: #0171C5;
    height: 28px;
}

    nav ul ul {
        display: none;
        width: 280px;
    }

    nav ul li:hover > ul {
        display: block;
    }

    nav ul {
        color: White;
        background: #0171c5;
        padding: 0;
        list-style: none;
        position: relative;
        display: inline;
    }

        nav ul:after {
            content: "";
            clear: both;
            display: block;
        }

        nav ul li {
            float: left;
            padding: 4px 5px;
        }

            nav ul li:hover {
                background: #4b9bd7;
                color: white;
                cursor: pointer;
            }



            nav ul li a:visited {
                color: white;
            }

            nav ul li:hover a {
                color: #fff;
            }

            nav ul li a {
                display: block;
                padding: 0px 20px;
                color: white;
                text-decoration: none;
            }

                nav ul li a:hover {
                    color: white;
                    text-decoration: none;
                }

                nav ul li a img {
                    width: 16px;
                    height: 14px;
                    border: none;
                }

        nav ul ul {
            background: #92C0E0;
            border-radius: 0px;
            padding: 0;
            position: absolute;
            top: 80%;
            z-index: 3;
        }

            nav ul ul li {
                float: none;
                border-top: 1px solid #6b727c;
                border-bottom: 1px solid #575f6a;
                padding: 0px 5px;
                position: relative;
            }

                nav ul ul li a {
                    padding: 0px 20px;
                    color: #fff;
                }

                    nav ul ul li a:hover {
                        background: #4b545f;
                        color: white;
                    }

.errordiv {
    margin-top: 10px;
    /*border: 2px solid Red;
    background-color: #f8d6d5;*/
    color: Red;
    padding: 5px 10px;
}

.bluetext {
    color: #0171C5;
    font-size: 1.1em;
}


.notValid {
    color: red;
    font-size: 2em;
    font-weight: 700;
}

.error {
    color: red;
}

.bijTekst {
    color: gray;
    font-size: 0.8em;
}

.row-highlight {
    background-color: rgba(194,223,245,0.6);
    cursor: pointer;
}

.row-highlight2 {
    background-color: rgba(194,223,245,0.6);
}

.settingsknop {
    position: absolute;
    top: 40px;
    right: 10px;
}

.instellingen {
    transition-duration: 1s;
    padding: 10px;
    border: 2px solid black;
    position: absolute;
    background-color: #e5e4e4;
    top: 100px;
    right: 10px;
    display: block;
}

.instellingenHidden {
    transition-duration: 1s;
    padding: 10px;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    right: -300px;
    display: none;
}

.leftSelectDiv {
    float:left;
    margin-left: 205px;
    width: 170px;
}

.buttonSelectDiv{
    float:left;
    width: 110px;
}

.rightSelectDiv{
    float:left;
    width: 170px;
}

#prijsKlantTitelTxt, #geenKostTitelTxt{
    width:440px;
}

.Buttons {
    margin: 3px 10px;
    padding: 2px 30px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 4px;
    color: #0171C5;
    text-decoration: none !important;
}

    .Buttons:hover {
        color: white;
        background-color: #0171C5;
    }

    .Buttons:active {
        background-color: #92C0E0;
    }

.Buttons2 {
    font-size: 0.8em;
    margin: 2px 2px 2px 100px;
    padding: 1px 10px;
    text-decoration: none;
    color: #0171C5;
    border:1px solid black;
    border-radius:4px;
    text-decoration: none !important;
}
    .Buttons2:hover {
        background-color: #4b9bd7;
        color: white;
    }

    .Buttons2:active {
        color:#0171C5;
    }
    .Buttons2:visited {
        color:#0171C5;
    }

.Buttons2a {
    font-size: 0.8em;
    margin: 2px 2px 2px 20px;
    padding: 1px 10px;
    text-decoration: none;
    color: #0171C5;
    border:1px solid black;
    border-radius:4px;
    text-decoration: none !important;
}
    .Buttons2a:hover {
        background-color: #4b9bd7;
        color: white;
    }

    .Buttons2a:active {
        color:#0171C5;
    }
    .Buttons2a:visited {
        color:#0171C5;
    }

.visibilityLink {
    color: #0171C5;
    font-size: 0.8em;
    text-decoration: none;
    padding: 2px;
    margin-left: 3em;
    border-bottom: 2px solid #0171C5;
    border-left: 5px solid #0171C5;
    border-bottom-left-radius: 3px;
}

    .visibilityLink:hover {
        text-decoration: none;
        border-bottom: 2px solid #ff9900;
        border-left: 5px solid #ff9900;
        border-bottom-left-radius: 3px;
    }

    .visibilityLink:hover {
        color: #0171C5 !important;
    }

.Hidden {
    display: none;
}

#klantdetailTable {
    margin: 10px auto;
}

    #klantdetailTable td {
        border-Left: 1px solid gray;
        border-bottom: 1px solid gray;
        margin: 0;
        padding: 3px;
    }

.klantPart {
    float:left;
    width:33%;
    height:280px;
    overflow-y:auto;
}

.KlantOpmerking{
    height:135px;
    overflow-y:auto;
}

.labelFor {
    text-align:right;
    display: inline-block;
    width: 200px;
}

.labelFor1{
    text-align:right;
    display: inline-block;
    width: 100px;
}

.divFor{
    margin-left:205px;
}

.infoLabel{
    padding-left:200px;
}

.printablediv {
    font-size: 0.8em;
}

.scrollable{
    overflow-y:scroll;
    height: 100%;
}

.popups {
    background-color: white;
}

#interventiePopup{
    position: fixed;
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%;
    /*overflow-y:auto;*/
    font-size: 0.8em;
    margin: 0 auto;
    padding: 5px;
    z-index: 20;
    background-color: white;
    border: 5px solid #0171C5;
}

#interventieTicketTable, #interventieTicketTable  td{
    border-collapse:collapse;
    border: 1px solid black;
    padding: 3px;
    font-size:0.9em;
}

#InterventieTitleDiv {

}

#InterventieTitleDiv > p{
     font-size:1.3em; 
     color: #1757fe; 
     margin:10px 0px 10px 365px; 
     padding:2px;
}

.inspringDiv{
    margin: 10px 0;
}

.indentDiv{
    padding-left: 10px; 
    margin: 10px 0;
}

fieldset{
    border:none;
}

.loadingSpinner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: rgba(128,128,128,0.5);
}
.loadingSpinnerMessage {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    background-color: white;
    border: 5px solid #0171C5;
    text-align: center;
}
.loadingSpinnerMessage img {
    margin-top: 5em;
}

#attachmentList ul {
    list-style-type: none;
    padding-left: 0px;
    width: 520px;
}

    #attachmentList ul li {
    }

        #attachmentList ul li a {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }


#addFileList ul {
    list-style-type: none;
    padding-left: 0px;
    width: 520px;
}

    #addFileList ul li {
    }

        #addFileList ul li a {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

.attachmentFile {
    width: 360px;
    display: inline-block;
}

.fileListControl {
    display: inline-block;
}

.multiText{
    width:200px;
    height: 60px;
    text-wrap:normal;
}

.rowSelect{
    width:150px;
}

#importTbody tr:nth-child(even){
    background: rgba(194,223,245,0.6);
}

@media print {
    .page-break {
        page-break-before: always;
    }

    table {
        page-break-inside:auto;
    }
    tr {
        page-break-inside:avoid;
        page-break-after:auto;
    }

    #interventiePopup{
        font-size: 12pt;
    }

}
